<!-- app/views/home/index.html.erb -->
<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/style.css">
<div class="container">
  <h1>Bienvenido a Mi Aplicaci칩n</h1>
  <p>Esta es la p치gina de inicio de mi fant치stica aplicaci칩n web.</p>

  <div class="home-links">
    <%= link_to 'Productos', productos_path, class: 'button' %>
    <%= link_to 'Pedidos', pedidos_path, class: 'button' %>
    <%= link_to 'Agentes', agentes_path, class: 'button' %>
    <%= link_to 'Nuevo Suministro', new_agente_producto_path, class: 'button' %>
  </div>
</div>
