<!-- app/views/home/index.html.erb -->
<h1>Bienvenido a Mi Aplicaci칩n</h1>
<p>Esta es la p치gina de inicio de mi fant치stica aplicaci칩n web.</p>

<%= link_to 'Productos', productos_path %>
<%= link_to 'Pedidos', pedidos_path %>
<%= link_to 'Agentes', agentes_path %>
<%= link_to 'Nuevo Suministro', new_agente_producto_path %>
