<!-- app/views/productos/show.html.erb -->
<h1>Producto</h1>
<p>
  <strong>Nombre:</strong>
  <%= @producto.prod_nombre %>
</p>
<p>
  <strong>Precio:</strong>
  <%= @producto.prod_precio %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @producto.prod_descripcion %>
</p>

<%= link_to 'Volver', productos_path %>
