<div class="container">
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-lg-6">
      <div class="card border-primary shadow">
        <div class="card-body text-center">
          <h1 class="mt-4">Detalles del Producto</h1>
          <hr>
          <p class="mb-1">
            <strong>Nombre:</strong> <%= @producto.prod_nombre %>
          </p>
          <p class="mb-1">
            <strong>Precio:</strong> <%= number_to_currency(@producto.prod_precio, unit: 'COP') %>
          </p>
          <p class="mb-1">
            <strong>Descripción:</strong> <%= @producto.prod_descripcion %>
          </p>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Volver', productos_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
